body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header-top, .header-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.account-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.account-btn {
    align-self: center;
}

.welcome-msg {
    display: grid;
    grid-template-columns: auto 1fr;
}

header {
    grid-row: 1;
    grid-column: 2;
}

.sidebar {
    background-color: lightcyan;
    grid-row: 1 / -1;
}

.content {
    background-color: gray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    gap: 15px;
}

.projects-container {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border-radius: 8px;
    background-color: white;
}

.announcement, .trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.search-icon, .notification-icon {
    width: 36px;
    height: 36px;
}

.account-icon {
    width: 36px;
    height: 36px;
}

.profile-img {
    width: 48px;
    height: 48px;
}