body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Header Section */
header {
    grid-row: 1;
    grid-column: 2;
    padding: 12px 24px;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 12px -4px gray;
}

.header-top {
    margin-bottom: 24px;
}

.header-top, .header-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.search-icon, .notification-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.search-icon {
    background-color: white;
}

.account-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-image: url("images/wizard.png");
    background-repeat: no-repeat;
    background-size: 42px 42px;
}

.search-icon {
    background-image: url("images/magnify.svg");
}

.notification-icon {
    background-image: url("images/notification.svg");
}

.profile-img {
    width: 60px;
    height: 60px;
    background-image: url("images/wizard.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    padding-right: 12px;
}

.account-section {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-items: end;
    gap: 24px;
}

.account-section p {
    margin: 0;
    font-weight: bold;
}

.account-btn {
    display: grid;
    grid-template-columns: 1fr auto auto;
    /* grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); */
    align-self: center;
    justify-items: end;
    gap: 12px;
}

.account-btn > button {
    background-color: #0ea5e9;
    color: white;
    width: 100px;
    height: 32px;
    border-radius: 24px;
    border: none;
}

.welcome-msg {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.welcome-user-msg {
    font-size: 1.4rem;
}

.searchbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
}

.searchbar input {
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 24px;
    background-color: #e0f2fe;
}

/* Side bar Section */
.sidebar {
    background-color: #0ea5e9;
    grid-row: 1 / -1;
}

.sidebar ul {
    padding-left: 0;
    padding-right: 20px;
    margin-top: 42px;
}

.sidebar ul li {
    list-style-type: none;
    padding-bottom: 20px;
}

.sidebar a, .dashboard {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.dashboard, .sidebar li {
    margin-left: 20px;
}

.dashboard {
    margin-top: 20px;
    font-size: 1.5rem;
    background-size: 32px 32px;
}

/* Project Section */
.content {
    background-color: #e0f2fe;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    gap: 15px;
}

.content > div > p {
    font-weight: bold;
}

.content p {
    margin-bottom: 12px;
}

.projects-container {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border-radius: 8px;
    background-color: white;
    padding: 32px 24px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card p {
    margin: 0;
}

.card-control {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: end;
    gap: 24px;
}

.card-control > div {
    width: 18px;
    height: 18px;
}

.project-title {
    font-weight: bold;
}

.announcement, .trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Side-bar icons */
.home {
    background-image: url("images/home.svg")
}

.profile {
    background-image: url("images/profile.svg");
}

.messages {
    background-image: url("images/message.svg");
}

.history {
    background-image: url("images/history.svg");
}

.tasks {
    background-image: url("images/tasks.svg");
}

.communities {
    background-image: url("images/community.svg");
}

.settings {
    background-image: url("images/settings.svg");
}

.support {
    background-image: url("images/support.svg");
}

.privacy {
    background-image: url("images/privacy.svg");
}

.dashboard {
    background-image: url("images/dashboard.svg");
}

.fav {
    background-image: url("images/favourite.svg");
}

.view {
    background-image: url("images/view.svg");
}

.share {
    background-image: url("images/share.svg");
}